* {
    font-family: Consolas, zihun27hao-budingti, 华文楷体;
    padding: 0;
    margin: 0;
    font-size:20px;
    font-weight: bolder;
}

body{
    width:100%;
    margin:10px auto;
    background-color: #fff4f2;
}

a{
    color:gray;
    text-decoration:none;
}

a:hover{
    color:red;
    font-weight:bold;
    text-decoration:none;
}

a:visited{
    text-decoration:none;
}

img{
    height:100%;
    vertical-align:middle;
}

fieldset{
    padding:10px;
    background-color: white;
    border-radius: 6px;
    padding: 25px;
}

legend{
    font-size:16px;
    font-weight:bold;
}

input[type="text"]{
    width:150px;
}

input[type="password"]{
    width:150px;
}

textarea{
    width:80%;
    text-align:left;
}

h1, h2, h3 {
    text-align:center;
}

.page-header{
    position:relative;
    height:60px;
    background-color: hsla(0,0%,100%,.5);
    border-radius:10px;   
    margin:15px auto;
    padding:10px;
    width: 80%;
    margin:0 auto;
}

.page-header .header-banner{
    float:left;
    width:20%;
    vertical-align:middle;
    height:100%;
}

.page-header .header-title{
    float:left;
    width:60%;
    text-align:center;
    font-size:50px;
    padding-top:10px;
}

.page-header .header-quicklink{
    float:right;
    padding-top:40px;
}

.page-body{
    padding:10px;
}

.page-sidebar{
    margin-left: 60px;
    width:150px;
    float:left;
    background-color: white;
    border-radius: 6px;
    padding: 25px;
}

.page-content{
    width: 835px;
    float: left;
    margin-left: 100px;
    background-color: white;
    border-radius: 6px;
    padding: 25px;
}

.page-footer{
    z-index: 1;
    position: absolute;
    bottom: 100px;
    width: 100%;
    text-align: center;
}

.sidebar-menugroup{
    padding-bottom:10px;
}

.sidebar-grouptitle{
    width:100%;
    font-size:30px;
    font-weight:bold;
    cursor:pointer;
}

.sidebar-menu{
    list-style:none;
    padding-left:20px;
}

.page-content .content-nav{
    padding:0 0 10px 0;
}

.listtable{
    width:100%;
    border:1px solid #afafaf;
    border-collapse:collapse;
    margin-bottom:10px;
}

.listtable caption{
    text-align:left;
    font-size:16px;
    padding:2px;
    font-weight:bold;
}

.listtable td{
    padding:4px;
    border: 1px solid gray;
    font-size:15px;
    text-align:center;
    font-family: 微软雅黑;
    width: 65px;
}

.listtable tr:nth-child(2n){
    background-color : #ebeaea;
}

.listtable .listheader{
    background-color:skyblue;
    text-align:center;
}

.listtable .listheader th{
    padding:5px;
    border: 1px solid gray;
}

.formtable {
    width:100%;
    padding: 0 auto;
}

.formtable td{
    padding:5px;
}

.formtable tr td:first-child{
    vertical-align:top;
}

.formtable input[type="radio"] + label{
    margin-right:10px;
}

.formtable .command{
    text-align:center;
}

.formtable .command .clickbutton{
    background: #97dffd;
    font-size: 13px;
    padding: 1px 15px;
    border-radius: 5px;
    border: none;
}

.pager-header{
    
}

.pager-header .header-info{
    float:left;
}

.pager-header .header-info .info-number{
    font-weight:bold;
}

.pager-header .header-nav{
    float:right;
}

.pager-header .header-nav .nav-number{
    width:30px;
    margin:0 5px;
}

.clickbutton {  
    border: 1px solid #4D4D4D;
    cursor:pointer;
    font-size:13px;
    font-family: 微软雅黑;
}

.error {
    color:red;
}

hr {
    height:1px;border:none;border-top:1px solid skyblue;
}